.square {
    width : 50px;
    height : 50px;
    border : 1px solid rgb(250,250,250);
    text-align: center;
    line-height: 50px;
    display: inline-block;
    cursor: pointer;
}

.square-color {
    background-color: rgba(156,220, 254);
}